@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

.state{
    vertical-align: top;
    font-family: 'Nothing You Could Do', cursive;
    color: rgb(255,105,180);
    font-size: 2rem;
}

table {
    border-collapse:separate;
    border-spacing: 0 1em;
}
